@import "../MDXComponents.css";

.content-main {
  padding: 1.4rem;
}

.content-main a {
  display: inline;
}

.content-main li {
  font-size: 0.9rem;
}

.content-main a:not(.heading-anchor) {
  color: var(--accent);
  text-decoration: underline;
  text-underline-offset: 3px;
  font-weight: 500;
}

.content-main a:not(.heading-anchor):hover {
  text-decoration: none;
}

.content-main a:not(.heading-anchor):visited {
  color: var(--accent);
  opacity: 0.7;
}

.content-main a:not(.heading-anchor):visited {
  color: var(--accent-visited);
}

.content-main ul {
  margin: 0;
}

.content-main h1 {
  font-size: 2rem;
  letter-spacing: -0.05em;
  margin-top: calc(2rem - 1.4rem);
  margin-bottom: 1rem;
}

.content-main h2 {
  font-size: 1.26rem;
  margin: 2.5rem 0 0.75rem;
}

.content-main h3 {
  font-size: 1.06rem;
  margin: 2rem 0 0.5rem;
}

.content-main h4 {
  font-size: 1rem;
  margin: 2rem 0 0.5rem;
}

.content-main h2,
.content-main h3,
.content-main h4 {
  position: relative;
  font-weight: 500;
  scroll-margin-top: calc(var(--navbar-height) + 1.5rem);
}

.content-main h3 + h1 {
  margin-top: 1rem;
}

.content-main h2 a,
.content-main h3 a,
.content-main h4 a {
  text-decoration: none;
}

.content-main h2 a:hover,
.content-main h3 a:hover,
.content-main h4 a:hover {
  cursor: pointer;
  filter: brightness(1.2);
  text-decoration: underline;
}

.content-main h2 a:hover::before,
.content-main h3 a:hover::before,
.content-main h4 a:hover::before {
  content: "#";
  position: absolute;
  left: -0.8em;
  color: var(--accent);
  cursor: pointer;
}

.content-main p {
  margin: 0 0 1rem;
  line-height: 1.75;
}

.content-main li p {
  font-size: 0.9rem;
  margin: 0;
}

.content-main img {
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 8px;
}

.content-main blockquote {
  border-left: 3px solid var(--accent);
  margin: 1.5rem 0;
  padding: 0.5rem 1rem;
  opacity: 0.8;
}

.content-date {
  font-size: 0.8rem;
}

.content-main h1,
.content-main h2,
.content-main h3,
.content-main p,
.content-main ul,
.content-main li,
.content-main img,
.content-main blockquote,
.content-main code {
  text-align: left;
}

.content-main h2 + h3 {
  margin-top: 1rem;
}

@media (max-width: 1200px) {
  .content-main {
    padding: 0;
  }
}
